

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
.welcomeFeatures{
	width: 1100px;
	height: 900px;
	background-color: #F0F0FC;
	border: 35px solid #F5FFFF;
	border-radius: 85px;
	margin: 0 auto;
	padding: 35px 15px 15px 15px;

}

#image-collage{
	width: 950px;
	display: block;
    	margin-left: auto;
    	margin-right: auto; 
	height: 600px;
	
}

#pic-collage{


}

.proceed{
	text-align: right;
	font-style: oblique;
	font: "Comic Sans";
}

.mainFeatures{
	
    
}
	
h1{
	font-family: "Courier New", "Lucida Console";
	font-style: oblique;
	font-size: 90px;
	text-align: center;
	color: #2929CC;
}


#welcome-header{
	
	
}

.page-header{
	
	
	
}


















