
body {
  background: #2a363b;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
p{
  color: white;
  font-size: 1.3em;
  line-height: 1.5;
  text-align: justify;
}
li{
  color: white;
  font-size: 1.3em;
  line-height: 1.7;
}

h2,h3{
	color: #1995d2;
}

h4,li{
	color: white;
}


#drawer{
	background: #4a5655;
}

#image-collage{
	max-width: 100%; height: auto;
}

/*makes video scale*/
.vimeo-youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
.vimeo-youtube video,
.vimeo-youtube object,
.vimeo-youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-legend{
  color: #1995d2;
}


.mui-form-control{
  color: white;
}

.mui-table{
  color: #d4d9db;
  margin: 0px;
}
.mui-table > thead{
  color: white;
  font-style: bold;
  font-size: 1.2em;
}

/*highligh table rows on hover*/
table > tbody > tr:hover{
  background-color: #647d89;
  -webkit-transition: background-color 3s;
  transition: background-color 3s;
}

/*icons in stay connected page*/
.social-icon{
  width: 6%;
  height: 6% ;
  margin: 1%;
  margin-right: 2%;
}

/*center toast*/
.toast{
  z-index: -1; position:relative;
}

#load-button{
  float: right;
}


paper-button{
  color: white;
}